work_dirs/*
debug*
dataset/*
results/*
weights/*
wandb/*
experiment/*
checkpoint/*
pre-trained/*
data/*
experiment/
.idea/
log*/*
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*~
*.tar.gz
*.pth
*.tar
*.zip
*.josn